services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: false

    # API
    threebrs.gopay.api:
        class: ThreeBRS\SyliusGoPayPlugin\Api\GoPayApi
        arguments:
            $gopayPaymentsFactory: '@threebrs.gopay.payments.factory'

    ThreeBRS\SyliusGoPayPlugin\Api\GoPayApiInterface:
        alias: threebrs.gopay.api

    # GoPay Payments Factory
    threebrs.gopay.payments.factory:
        class: ThreeBRS\SyliusGoPayPlugin\Factory\GoPayPaymentsFactory

    ThreeBRS\SyliusGoPayPlugin\Factory\GoPayPaymentsFactoryInterface:
        alias: threebrs.gopay.payments.factory

    # Form Type
    threebrs.gopay.form.type.gateway_configuration:
        class: ThreeBRS\SyliusGoPayPlugin\Form\Type\GoPayGatewayConfigurationType
        tags:
            - { name: 'sylius.gateway_configuration_type', type: 'gopay', label: 'threebrs.gopay_plugin.gateway_label' }
            - { name: 'form.type' }

    # Payment Request - Command Providers
    threebrs.command_provider.payment_request.gopay:
        class: Sylius\Bundle\PaymentBundle\CommandProvider\ActionsCommandProvider
        arguments:
            - !tagged_locator
                tag: threebrs.command_provider.payment_request.gopay
                index_by: 'action'
        tags:
            - { name: sylius.payment_request.command_provider, gateway_factory: 'gopay' }

    threebrs.command_provider.payment_request.gopay.capture:
        class: ThreeBRS\SyliusGoPayPlugin\CommandProvider\CapturePaymentRequestCommandProvider
        tags:
            - { name: threebrs.command_provider.payment_request.gopay, action: !php/const Sylius\Component\Payment\Model\PaymentRequestInterface::ACTION_CAPTURE }

    threebrs.command_provider.payment_request.gopay.notify:
        class: ThreeBRS\SyliusGoPayPlugin\CommandProvider\NotifyPaymentRequestCommandProvider
        arguments:
            - '@request_stack'
        tags:
            - { name: threebrs.command_provider.payment_request.gopay, action: !php/const Sylius\Component\Payment\Model\PaymentRequestInterface::ACTION_NOTIFY }

    threebrs.command_provider.payment_request.gopay.status:
        class: ThreeBRS\SyliusGoPayPlugin\CommandProvider\StatusPaymentRequestCommandProvider
        tags:
            - { name: threebrs.command_provider.payment_request.gopay, action: !php/const Sylius\Component\Payment\Model\PaymentRequestInterface::ACTION_STATUS }

    threebrs.command_provider.payment_request.gopay.refund:
        class: ThreeBRS\SyliusGoPayPlugin\CommandProvider\RefundPaymentRequestCommandProvider
        tags:
            - { name: threebrs.command_provider.payment_request.gopay, action: !php/const Sylius\Component\Payment\Model\PaymentRequestInterface::ACTION_REFUND }

    threebrs.command_provider.payment_request.gopay.cancel:
        class: ThreeBRS\SyliusGoPayPlugin\CommandProvider\CancelPaymentRequestCommandProvider
        tags:
            - { name: threebrs.command_provider.payment_request.gopay, action: !php/const Sylius\Component\Payment\Model\PaymentRequestInterface::ACTION_CANCEL }

    # Payment Request - HTTP Response Providers
    threebrs.provider.order_pay.http_response.gopay:
        class: Sylius\Bundle\PaymentBundle\Provider\ActionsHttpResponseProvider
        arguments:
            - !tagged_locator
                tag: threebrs.provider.http_response.gopay
                index_by: action
        tags:
            - { name: sylius.payment_request.provider.http_response, gateway_factory: 'gopay' }

    threebrs.provider.order_pay.http_response.gopay.capture:
        class: ThreeBRS\SyliusGoPayPlugin\ResponseProvider\CaptureHttpResponseProvider
        arguments:
            - '@threebrs.gopay.api'
            - '@router'
        tags:
            - { name: threebrs.provider.http_response.gopay, action: !php/const Sylius\Component\Payment\Model\PaymentRequestInterface::ACTION_CAPTURE }

    threebrs.provider.order_pay.http_response.gopay.status:
        class: ThreeBRS\SyliusGoPayPlugin\ResponseProvider\StatusHttpResponseProvider
        arguments:
            - '@router'
        tags:
            - { name: threebrs.provider.http_response.gopay, action: !php/const Sylius\Component\Payment\Model\PaymentRequestInterface::ACTION_STATUS }

    # Payment Request - Command Handlers (autoconfigured with Symfony Messenger)
    ThreeBRS\SyliusGoPayPlugin\CommandHandler\CapturePaymentRequestHandler:
        autoconfigure: true
        autowire: true

    ThreeBRS\SyliusGoPayPlugin\CommandHandler\NotifyPaymentRequestHandler:
        autoconfigure: true
        autowire: true

    ThreeBRS\SyliusGoPayPlugin\CommandHandler\StatusPaymentRequestHandler:
        autoconfigure: true
        autowire: true

    ThreeBRS\SyliusGoPayPlugin\CommandHandler\RefundPaymentRequestHandler:
        autoconfigure: true
        autowire: true

    ThreeBRS\SyliusGoPayPlugin\CommandHandler\CancelPaymentRequestHandler:
        autoconfigure: true
        autowire: true

    # Order Number Provider
    threebrs.gopay.provider.order_number:
        class: ThreeBRS\SyliusGoPayPlugin\Provider\GoPayOrderNumberProvider
        arguments:
            - '@clock'

    ThreeBRS\SyliusGoPayPlugin\Provider\GoPayOrderNumberProviderInterface:
        alias: threebrs.gopay.provider.order_number
